* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    width: 330px;
    overflow: hidden;
    position: relative;
    background: var(--white);
    box-shadow: 0px 6px 15px rgba(56, 52, 52, 0.5);
    border-radius: 15px;
    padding: 25px 30px;
    border: 2px solid black;
}

.wrapper i {
    cursor: pointer;
}

.top-bar,
.progress-area .timer,
.controls,
.music-list .header,
.music-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-bar i {
    font-size: 30px;
    color: var(--lightblack);
}

.top-bar span {
    font-size: 20px;
    color: var(--lightblack);
}

.img-area {
    height: 170px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 10px;
    box-shadow: 0px 6px 12px rgba(56, 52, 52, 0.5);
}

.img-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.song-details {
    text-align: center;
    margin: 10px 0;
    margin: 10px 0;
    color: var(--lightblack);
}

.song-details .name {
    font-size: 20px;
}

.song-details .artist {
    opacity: 0.9;
    font-size: 18px;
}

.progress-area {
    height: 6px;
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 50px;
    cursor: pointer;
    position: relative;
}

.progress-area .progress-bar {
    height: inherit;
    width: 0%;
    border-radius: inherit;
    background: rgb(210, 13, 85)
}

.progress-bar::before {
    content: "";
    position: absolute;
    height: 12px;
    width: 12px;
    background-color: #000;
    border-radius: inherit;
    top: 50%;
    left: 125px;
    transform: translateY(-50%);
    background: inherit;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.progress-area:hover .progress-bar::before {
    opacity: 1;
}

.progress-area .timer {
    margin-top: 2px;
}

.tiner span {
    font-size: 12px;
    color: var(--lightblack);
}

.controls {
    margin: 40px 0 5px 0;
}

.controls i {
    font-size: 28px;
    user-select: none;
    background: rgb(210, 13, 85);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.controls i:nth-child(2),
.controls i:nth-child(4) {
    font-size: 40px;
}

.controls #prev {
    margin-right: -13px;
}

.controls #next {
    margin-left: -13px;
}

.controls .play-pause {
    height: 54px;
    width: 54px;
    background-color: rgb(192, 192, 192);
    box-shadow: 0px 0px 5px var(--pink);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.play-pause::before {
    content: "";
    position: absolute;
    height: 43px;
    width: 43px;
    border-radius: inherit;
    background: rgb(210, 13, 85);
}

.play-pause i {
    height: 43px;
    width: 28px;
    line-height: 43px;
    border-radius: inherit;
    background: inherit;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.music-list {
    position: absolute;
    left: 0;
    bottom: -55%;
    opacity: 0;
    pointer-events: none;
    background: white;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
    padding: 15px 30px;
    transform: all 0.15s ease-out;
}

/*we will use this show class in javascript*/
.music-list.show {
    bottom: 0;
    opacity: 1;
    pointer-events: none;
}

.music-list .header .row {
    display: flex;
    align-items: center;
    font-size: 17px;
    color: var(--lightblack);
}

.header .row i {
    cursor: default;
}

.header .row span {
    margin-left: 5px;
}

.music-list ul {
    margin: 10px 0;
    max-height: 150px;
    overflow-y: auto;
}

.music-list ul::-webkit-scrollbar {
    width: 0px;
}

.music-list ul li {
    cursor: pointer;
    list-style: none;
    padding-bottom: 20px;
    margin-bottom: 5px;
    color: var(--lightblack);
    border-bottom: 2px solid #e5e5e5;
}

.music-list ul li:last-child {
    border-bottom: 0px;
}

.music-list ul li .row span {
    font-size: 15px;
}

ul li .row p {
    opacity: 0.9;
}

.header #close {
    font-size: 22px;
    color: var(--lightblack);
}

ul li.playing {
    color: var(--violet);
    pointer-events: none;
}